@page "/"

<h2>Hello, world!</h2>

<a href="/">Home</a>
<a href="/parameters">Parameters</a>


<button onclick="@GetHomePage">Home</button>
<button onclick="@GetParametersPage">Parameters</button>

@code{
    public void GetHomePage()
    {
        
    } 
    public void GetParametersPage()
    {
        
    }
}