body {
}
.status{

}
.disconnected {
    background-color: grey;
    color: white;
}
.connected {
    background-color: darkblue;
    color: white;
}
.connecting {
    background-color: blue;
    color: white;
}
