@inherits LayoutComponentBase

@* Пример 5. Используем альтернативную компоновку для отдельных компонентов (Contracts.razor) *@

<div>

    <div>
        <a href="/">Home</a> | <a href="contacts">Contacts</a> | <a href="about">About</a>
    </div>
    <div>
        @Body
    </div>
    <hr />
    <hl></hl>
    <h1 style="color:red">Специальный раздел</h1>
    <h3 style="color:blue;font-weight:700">Тут используется альтернативная компоновка компонентов</h3>
</div>

@* Тут используется альтернативная компоновка для компонентов.
Чтобы ее использовать, компонент должен ссылаться на эту компоновку так:
@layout BlazorAppRoute.Components.Layout.SecondLayout *@

@* Пример 6. Другой способ установить альтернативную компоновку для отдельных компонентов *@
@* Для этого нужно создать папку со страницами/компонентами, к кот. нужно применить другую компоновку.
Например, папку Secondary. В нее нужно поместить файл _Imports.razor. В этом файле н. прописать директиву
@layout BlazorAppRoute.Components.Layout.SecondLayout. Ко всем страницам/компонентам папки Secondary будет применена альтернативная компоновка SecondLayout
*@