@* Пример 7. Каскадная передача значений *@
@* Пример 8. Каскадная передача значений с механизмом привязки к параметрам *@

<h3 style="color:@Color">Time: @DateTime?.ToShortTimeString()</h3>

@code {

    [CascadingParameter(Name = "Now")]
    DateTime? DateTime { get; set; }
    [CascadingParameter(Name = "Color")]
    string? Color { get; set; }
}